<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('process-menu')" [routerLink]="['/process-menu']" [routerLinkActive]="['router-link-active']">
                <i class="fa fa-cubes"></i>&nbsp;{{ 'Process' }}
            </a>
            <li class="nested" [class.expand]="showMenu === 'process-menu'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/process-1']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-cube"></i>&nbsp;&nbsp;{{ 'process-1' }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/process-2']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-cube"></i>&nbsp;&nbsp;{{ 'process-2' }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/process-3']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-cube"></i>&nbsp;&nbsp;{{ 'process-3' }}
                        </a>
                    </li>                                        
                    <li>
                        <a [routerLink]="['/process-4']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-cube"></i>&nbsp;&nbsp;{{ 'process-4'}}
                        </a>
                    </li>                 
                </ul>
            </li>
        </div>        
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('server-menu')" [routerLink]="['/server-menu']" [routerLinkActive]="['router-link-active']">
                <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Servers' }}
            </a>
            <li class="nested" [class.expand]="showMenu === 'server-menu'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/server-1']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-server"></i>&nbsp;&nbsp;{{ 'server-1' }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/server-2']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-server"></i>&nbsp;&nbsp;{{ 'server-2' }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/server-3']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-server"></i>&nbsp;&nbsp;{{ 'server-3' }}
                        </a>
                    </li>                                        
                    <li>
                        <a [routerLink]="['/server-4']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-server"></i>&nbsp;&nbsp;{{ 'server-4' }}
                        </a>
                    </li>                 
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('storage-menu')" [routerLink]="['/storage-menu']" [routerLinkActive]="['router-link-active']">
                <i class="fa fa-hdd-o"></i>&nbsp;{{ 'Storage' }}
            </a>
            <li class="nested" [class.expand]="showMenu === 'storage-menu'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/storage-database']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-database"></i>&nbsp;&nbsp;{{ 'database' }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/storage-cache']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-cloud"></i>&nbsp;&nbsp;{{ 'cache' }}
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a routerLink="/report" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-support"></i>&nbsp;{{ 'Report' }}
        </a>    
        <!-- <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Bootstrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Bootstrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
        </a>          
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
        </a> -->
        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
